* {
    margin: auto;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.expanded-container {
    position: relative;
    width: 150vw; /* 150% of the viewport width */
    height: 150vh; /* 150% of the viewport height */
    overflow: auto; /* Allows scrolling within the container */
}

/* hide category buttons */
button {
  color: black;
  font-family: "lores-21-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border: 1px solid grey;
  box-shadow: 0 0 10px 2px grey;
  border-radius: 20px;
  padding: 10px;
  z-index: 5;
}

button:hover {
  background-color: gray;
  color: white;
}

.hover-effect {
  background-color: black;
  opacity: 100%;
}

.hidden {
  display: none;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    margin: 10px;
}

/* lines */
.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.svg-line {
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 4,4;
  opacity: 80%;
}

.draggable {
    position: absolute;
    cursor: move;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 5px;
}

/* three divs */
.dream {
  padding: 10px;
  box-shadow: 0 0 10px 2px grey;
  border-radius: 100%;
  border: 1px solid grey;
  cursor: move;
  z-index: 10;
  background-color: grey;
  color: #fff;
  font-family: "lores-21-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.dream:hover{
  background-color: black;
}

.who {
    padding: 10px;
    box-shadow: 0 0 10px 2px grey;
    border-radius: 100%;
    border: 1px solid grey;
    cursor: move;
    z-index: 10;
    background-color: grey;
    color: #fff;
    font-family: "lores-21-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    scale: 100%;
}

.who:hover {
  background-color: black;
}

.emotion {
  padding: 10px;
  box-shadow: 0 0 10px 2px grey;
  border-radius: 100%;
  border: 1px solid grey;
  cursor: move;
  z-index: 10;
  background-color: grey;
  color: #fff;
  font-family: "lores-21-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  scale: 100%;
}

.emotion:hover {
  opacity: 1 !important;
  background-color: black;
  scale: 1;
}

@keyframes floatAnimation {
  0%, 100% { transform: translate(0px, 0px);}
  50% { transform: translate(-5px, -3px); }
}

@keyframes fadeToTenPercent {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0.1;
    scale: 0.5;
  }
}

/* submission form */
  form {
    align-self: left;
    z-index: 3;
    outline: 1px solid gray;
    border-radius: 5px;
    outline-offset: 20px;
  }

  label {
    display: block;
    font-family: "lores-21-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 12px;
  }
  
  input, label {
    margin: 0.4rem 0;
    font-family: "lores-21-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 12px;
  }